<!DOCTYPE html>
<html>
<head>
	<title>Evaluacion</title>
</head>
<body>
	<h1>Formulario de evaluacion</h1>
	<table>
		<tr>
			<th>Caracteristica</th>
			<th>0</th>
			<th>1</th>
			<th>2</th>
			<th>3</th>
			<th>4</th>
			<th>5</th>
		</tr>
		<tr>
			<td>eval1</td>
			<td><input type="radio" name="eval1"> </td>
			<td><input type="radio" name="eval1"></td>
			<td><input type="radio" name="eval1"></td>
			<td><input type="radio" name="eval1"></td>
			<td><input type="radio" name="eval1"></td>
			<td><input type="radio" name="eval1"></td>
		</tr>
		<tr>
			<td>eval2</td>
			<td><input type="radio" name="eval2"></td>
			<td><input type="radio" name="eval2"></td>
			<td><input type="radio" name="eval2"></td>
			<td><input type="radio" name="eval2"></td>
			<td><input type="radio" name="eval2"></td>
			<td><input type="radio" name="eval2"></td>
		</tr>
		<tr>
			<td>eval3</td>
			<td><input type="radio" name="eval3"></td>
			<td><input type="radio" name="eval3"></td>
			<td><input type="radio" name="eval3"></td>
			<td><input type="radio" name="eval3"></td>
			<td><input type="radio" name="eval3"></td>
			<td><input type="radio" name="eval3"></td>
		</tr>
		<tr>
			<td>eval4</td>
			<td><input type="radio" name="eval4"></td>
			<td><input type="radio" name="eval4"></td>
			<td><input type="radio" name="eval4"></td>
			<td><input type="radio" name="eval4"></td>
			<td><input type="radio" name="eval4"></td>
			<td><input type="radio" name="eval4"></td>
		</tr>
		<tr>
			<td>eval5</td>
			<td><input type="radio" name="eval5"></td>
			<td><input type="radio" name="eval5"></td>
			<td><input type="radio" name="eval5"></td>
			<td><input type="radio" name="eval5"></td>
			<td><input type="radio" name="eval5"></td>
			<td><input type="radio" name="eval5"></td>
		</tr>
		<tr>
			<td>Comentarios</td>
			<td colspan="6"><textarea></textarea></td>
		</tr>
	</table>
</body>
</html>