<!DOCTYPE html>
<html>
<head>
	<title>Nuevo usuario</title>
</head>
<body>
	<h1>Registrate!</h1>
	<form>
		<fieldset>
			<legend>Datos personales</legend>
			<table>
				<tr>
					<td><label for="nif">DNI/NIE:</label></td>
					<td><input type="text" name="nif"></td>
				</tr>
				<tr>
					<td><label for="nombre">Nombre:</label></td>
					<td><input type="text" name="nombre"></td>
				</tr>
				<tr>
					<td><label for="apellido1">Primer apellido:</label></td>
					<td><input type="text" name="apellido1"></td>
				</tr>
				<tr>
					<td><label for="apellido2">Segundo apellido:</label></td>
					<td><input type="text" name="apellido2"></td>
				</tr>
				<tr>
					<td><label for="fnac">Fecha de nacimiento:</label></td>
					<td><input type="date" name="fnac" step="1" value="2000-01-01"></td>
				</tr>
				<tr>
					<td><label for="email">E-mail:</label></td>
					<td><input type="text" name="email"></td>
				</tr>
				<tr>
					<td><label for="pass">Contraseña</label></td>
					<td><input type="password" name="pass"></td>
				</tr>
				<tr>
					<td><label for="cpass">Confirma la contraseña:</label></td>
					<td><input type="password" name="cpass"></td>
				</tr>
			</table>	
		</fieldset>
	</form>
</body>
</html>